body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:481px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9542 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:481px;
}
#u9543 {
  position:absolute;
  left:2px;
  top:232px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u9545 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:47px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u9546 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u9547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9547 {
  position:absolute;
  left:121px;
  top:63px;
  width:12px;
  height:25px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u9548 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
