body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:504px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4943 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:504px;
}
#u4944 {
  position:absolute;
  left:2px;
  top:244px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u4946 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:50px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u4947 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u4948 {
  position:absolute;
  left:121px;
  top:65px;
  width:12px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951 {
  position:absolute;
  left:100px;
  top:101px;
  width:375px;
  height:150px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4953 {
  position:absolute;
  left:121px;
  top:116px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4955 {
  position:absolute;
  left:121px;
  top:130px;
  width:341px;
  height:1px;
}
#u4956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4958 {
  position:absolute;
  left:100px;
  top:252px;
  width:375px;
  height:150px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4960 {
  position:absolute;
  left:121px;
  top:267px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4962 {
  position:absolute;
  left:121px;
  top:281px;
  width:341px;
  height:1px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4965 {
  position:absolute;
  left:100px;
  top:403px;
  width:375px;
  height:150px;
}
#u4966 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4967 {
  position:absolute;
  left:121px;
  top:418px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u4968 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4969 {
  position:absolute;
  left:121px;
  top:432px;
  width:341px;
  height:1px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
