body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8268 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:620px;
}
#u8269 {
  position:absolute;
  left:2px;
  top:302px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8271 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:50px;
  font-size:14px;
}
#u8272 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(75, 140, 240, 1);
  border:none;
  border-radius:3px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8274 {
  position:absolute;
  left:288px;
  top:63px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8275 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u8276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(75, 140, 240, 1);
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#4B8CF0;
}
#u8276 {
  position:absolute;
  left:228px;
  top:63px;
  width:60px;
  height:17px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#4B8CF0;
}
#u8277 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u8278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(75, 140, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8279 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:50px;
}
#u8280 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8281 {
  position:absolute;
  left:165px;
  top:112px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8282 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8283 {
  position:absolute;
  left:144px;
  top:128px;
  width:91px;
  height:14px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8284 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8285 {
  position:absolute;
  left:371px;
  top:111px;
  width:29px;
  height:14px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u8286 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8287 {
  position:absolute;
  left:345px;
  top:128px;
  width:91px;
  height:14px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u8288 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u8289 {
  position:absolute;
  left:287px;
  top:108px;
  width:1px;
  height:29px;
  opacity:0.65;
  color:#FFFFFF;
}
#u8290 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
